In [1]:
import pandas as pd

In [2]:
!ls

FlightDelay_2015_1.csv         FlightDelay_2015_1_random.csv
FlightDelay_2015_1_minimal.csv Untitled.ipynb

In [9]:
df = pd.read_csv('FlightDelay_2015_1.csv')

In [10]:
df.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,DEST_CITY_NAME,CRS_DEP_TIME,CRS_ARR_TIME,ARR_DELAY_NEW,ARR_DEL15,CANCELLED,DISTANCE
0,2015,1,22,4,DL,12953,"New York, NY",13204,"Orlando, FL",2050,2354,14.0,0.0,0,950
1,2015,1,22,4,DL,10397,"Atlanta, GA",12953,"New York, NY",1245,1459,0.0,0.0,0,762
2,2015,1,22,4,DL,14679,"San Diego, CA",11433,"Detroit, MI",1150,1914,0.0,0.0,0,1956
3,2015,1,22,4,DL,10397,"Atlanta, GA",10208,"Augusta, GA",1909,2001,0.0,0.0,0,143
4,2015,1,22,4,DL,10397,"Atlanta, GA",12266,"Houston, TX",1342,1501,0.0,0.0,0,689

In [11]:
df2 = df.sample(n = 555)

In [12]:
df2.shape

(555, 15)

In [14]:
df2.to_csv('FlightDelay_2015_1_random.csv')